.modal {
    position: absolute; /* Ensure it is positioned absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for true centering */
    z-index: 300; /* Higher z-index to be above the overlay */
    background-color: white; /* Set a background color */
    padding: 20px; /* Some padding */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: shadow effect */
}


.overlay {
    position: fixed; /* Fixed to the viewport */
    top: 0; /* Cover the whole screen */
    left: 0; /* Cover the whole screen */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 200; /* Below the modal but above other content */
}

.modal__call-to-actions-container {
    display: flex;
    padding-top: 0.5rem;
    justify-content: space-between;
}