.create-task-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    gap: 0.5rem;
}

.create-form__modal-title {
    padding-bottom: 1rem;
}

.create-task-form__label {
    font-size: 16px;
    font-weight: 400;
}

.create-task-form__input {
    width: 12rem;
    height: 1.5rem;
}